
		<li>
		
		<div class="slide-image popup-video">
						
							<a href="<%=video.url%>">
					<img src="<%=video.image%>" alt="">
				</a>
						
		</div><!-- /.slide-image -->
	</li><!-- /.slide -->
	