
			<p class="breadcrumbs">
	<!-- Breadcrumb NavXT 5.4.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to %accueil%." href="https://www.mairie-mana.fr" class="home"><span property="name">Accueil </span></a><meta property="position" content="1"></span> / <span property="itemListElement" typeof="ListItem"><span property="name">Photo Archive</span><meta property="position" content="2"></span></p>

<div class="archive-gallery archive-gallery-large">
	<ul class="archive-gallery clearfix">
						
	<%=render collection: @photos,as: :photo,partial: "mediatheque/photo"%>
			
			</ul>

	<%=render "mediatheque/naviphoto"%>


</div><!-- /.content --> 
		