<div id="respond" class="comment-respond">
			<h3 id="reply-title" class="comment-reply-title">LAISSER UN COMMENTAIRE <small><a rel="nofollow" id="cancel-comment-reply-link" href="/fermeture-exceptionnelle-bureau-de-poste-de-mana-de-javouhey-mercredi-21-septembre-2022/#respond" style="display:none;">Annuler la réponse.</a></small></h3>				
<form action="/wp-comments-post.php" method="post" id="commentform" class="comment-form">
					<p class="comment-notes"><span id="email-notes">Votre adresse de messagerie ne sera pas publiée.</span> Les champs obligatoires sont indiqués avec <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Commentaire</label> <textarea placeholder="Message" id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea></p><p class="comment-form-author"><label for="author">Nom <span class="required">*</span></label> <input placeholder="Nom" id="author" name="author" type="text" value="nom" size="30" maxlength="245" aria-required='true' required='required' /></p>
<p class="comment-form-email"><label for="email">Adresse de messagerie <span class="required">*</span></label> <input type="email" placeholder="E-mail"  id="email" name="email" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required='true' required='required' /></p>
<p class="comment-form-url"><label for="url">Site web</label> <input placeholder="http://example.com" id="url" name="url" type="url" value="" size="30" maxlength="200" /></p>
<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Envoyer" /> <input type='hidden' name='comment_post_ID' value='<%=post.id%>' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
<input type="hidden" name="mytype" value="press_release">
</p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="6b1288b4c8" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="24"/></p>				</form>
					</div><!-- #respond -->