<figure class='gallery-item'>
			<div class='gallery-icon portrait'>
				<a href='<%=pic.url%>'><img width="150" height="150" src="<%=pic.name%>" class="attachment-thumbnail size-thumbnail" alt="<%=@news.title%>" /></a>
			</div></figure>

