
			<p class="breadcrumbs">
	<!-- Breadcrumb NavXT 5.4.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to %accueil%." href="http://www.mairie-mana.fr" class="home"><span property="name">Accueil </span></a><meta property="position" content="1"></span> / <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Vivre à Mana." href="http://www.mairie-mana.fr/vivre-a-mana/" class="post post-page"><span property="name">Vivre à Mana</span></a><meta property="position" content="2"></span> / <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Culture." href="http://www.mairie-mana.fr/vivre-a-mana/culture/" class="post post-page"><span property="name">Culture</span></a><meta property="position" content="3"></span> / <span property="itemListElement" typeof="ListItem"><span property="name">Radio Ouassaille</span><meta property="position" content="4"></span></p>
			
								
				<div class="post">
					<h1><%=@post.title%></h1>

<%=@post.content.html_safe%>
				</div><!-- /.post -->